1.Calculate area of circle

In [20]:

print("area =", 3.14 * float(input("enter the r:", )) ** 2 )

enter the r:5
area = 78.5

2. Find circumference of circle

In [ ]:
c=float(input("enter the r:",))
c=2*3.14*r
print(c)

enter the r:5.6
31.400000000000002

3. Calculate area of rectangle

In [ ]:
l=float(input("enter the l:",))
b=float(input("enter the b:",))
print(l*b)

enter the l:5
enter the b:5.6
28.0

4. Calculate volume of sphere

In [ ]:
r=float(input("enter the r:",))
volume=(4/3)*3.14*r*r*r
print(volume)

enter the r:2
33.49333333333333


5. Find surface area of sphere

In [10]:
r=float(input("enter the r:",))
area = (4 * 3.15 * r * r)
print(area)

enter the r:5
315.0

6. Find area of square

In [ ]:
s=float(input("enter the s:",))
area=s*s
print(area)

enter the s:5.2
27.040000000000003

7.Find area of right angle triangle

In [ ]:
b=float(input("enter the b:",))
h=float(input("enter the h:",))
area =(1/2)*b*h
print("area of right angle traingle:",area)

enter the b:2
enter the h:6
area of right angle traingle: 6.0

8. Find area of equilateral triangle

In [ ]:

s=float(input("enter the s:",))
area=(math.sqrt(3)/4)*s*s
print("area of equilateral traingle:",area)

enter the s:2
area of equilateral traingle: 1.7320508075688772

10. Find perimeter of rectangle

In [12]:
l=float(input("enter the l:" ))
b=float(input("enter the b:" ))
perimeter=2*(l+b)
print("perimeter:",perimeter)

enter the l:5
enter the b:5
perimeter: 20.0

In [ ]:
11. Find area of triangle

In [ ]:
b=float(input("enter the b:",))
h=float(input("enter the h:",))
area =(1/2)*b*h
print("area of traingle:",area)

enter the b:2
enter the h:5
area of traingle: 5.0

12. Find simple interest

In [ ]:
p=float(input("enter the p:",))
r=float(input("enter the r:",))
n=float(input("enter the n:",))
SI=(p*r*n)/100
print("simple intrest:", SI)

enter the p:25000
enter the r:10
enter the n:1
simple intrest: 2500.0

13. Find compound interest

In [ ]:
p=float(input("enter the amount p:",))
r=float(input("enter the rate r:",))
n=float(input("enter the no. of year n:",))
a=p*(1+r/100)*n
print(a-p)
print(a)

In [ ]:


p=float(input("Enter Amount:"))
r=float(input("rate of interest:"))
t=float(input("Enter time in years0:"))
a=p*(1+r/100)**t
print("Compound interest:",a-p)

Enter Amount:500
rate of interest:10
Enter time in years0:1
Compound interest: 50.0

13. Convert days into years

In [ ]:
d=float(input("Enter days:"))
y=d/365
print(y)

Enter days:90
0.2465753424657534

In [5]:
d=float(input("Enter days:"))
y = d / 365
print(y)

Enter days:180
0.4931506849315068

14. Fahrenheit to Celsius conversion

In [6]:
f=float(input("enter the tem in fahrent f:"))
c = ((5 / 9) * (f - 32 ))
print(c)

enter the tem in fahrent f:100
37.77777777777778